* {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 1rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 50px;
  }
  &__title {
    color: #d04f4f;
  }
}

.input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  &__main {
    margin: 0.5rem 1rem;
    border: none;
    width: 100%;
  }
}

.secondary {
  position: relative;
  margin: 0.5rem 1rem;
  height: 40px;

  &__icon {
    position: absolute;
    top: 0.9rem;
    right: 0.7rem;
    border: none;
    color: white;
  }
  &__button {
    border: none;
  }
  &__search {
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: none;
  }
}

.main {
  width: 100%;
  &__search {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color: #e7e7e7;
    padding-left: 1rem;
  }
  &__icon {
    position: absolute;
    top: 6.8rem;
    right: 3rem;
    z-index: 1;
  }
}

#ingredients {
  background-color: #3282f7;
  &::placeholder {
    color: white;
  }
}

#devices {
  background-color: #68d9a4;
  &::placeholder {
    color: white;
  }
}

#ustensils {
  background-color: #ed6454;
  &::placeholder {
    color: white;
  }
}

.ingredientsElt {
  font-size: 12px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}

.card {
  position: relative;
  background-color: #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
  width: 30%;
  min-height: 41rem;
  margin-bottom: 1rem;
  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }
  &__description {
    float: right;
    margin-top: 2rem;
    margin-left: 0.5rem;
    width: 45%;
    font-size: 12px;
  }
  &__title {
    margin-left: 0.5rem;
    font-size: 18px;
  }
  &__time {
    font-weight: bold;
    margin-right: 0.5rem;
    float: right;
  }
  &__ingredients {
    float: left;
    margin-top: 2rem;
    margin-left: 0.5rem;
    width: 40%;
  }
}
